/* app.css or styles.css */

/* Cyberpunk Theme */
:root {
  --color-primary: #ff003c;
  --color-secondary: #fcee09;
  --color-accent: #00f0ff;
  --color-alt1: #050a0e;
  --color-alt2: #fafafa;
  --color-background: #050a0e;
  --color-text: #fafafa;
}

/* Evangelion Theme */
body.evangelion {
  --color-primary: #3f6d4e;
  --color-secondary: #8bd450;
  --color-accent: #965fd4;
  --color-alt1: #734f9a;
  --color-alt2: #1d1a2f;
  --color-background: #1d1a2f;
  --color-text: #8bd450;
}
